*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: rgb(195,202,213);
}
.container{
  margin: 0 auto;
  max-width: 980px;
}
.center{
  text-align: center;
}
.row{
  display: flex;
}
.column{
  flex: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 24px;
  row-gap: 24px;
}
section{
  display: flex;
  padding: 72px 24px;
}
.card{
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.card-img{
  width: 100%;
  height: 280px;
}
.card-title{
  font-size: 32px;
  margin-top: 24px;
  padding: 0px 32px;
  text-align: left;
}
.card-money{
  color: red;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 0px 32px;
  text-align: left;
}
.desc{
  margin-bottom: 72px;
}
.color1{
  color: black;
}
.btncustom2{
  background-color: rgb(171, 255, 123);
  color: #030303;
}