.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* File: Home.js */
.swiper {
  width: 100%; /* Chiều rộng full */
  height: 100vh; /* Chiều cao full màn hình */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%; /* Đảm bảo ảnh full chiều rộng */
  height: 100%; /* Đảm bảo ảnh full chiều cao */
  object-fit: cover; /* Giữ ảnh tràn đều và không bị méo */
}

/** File SignUp */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.signup__container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.signup__container h1 {
  margin-bottom: 20px;
  color: #333333;
}

.signup__container h5 {
  text-align: left;
  margin: 10px 0 5px;
  color: #555555;
}

.input-signup-username,
.input-signup-password {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.signup__signInButton {
  width: 100%;
  padding: 10px;
  background-color: #307bf4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup__signInButton:hover {
  background-color: #0056c1;
}

.signup__registerButton {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signup__registerButton:hover {
  color: #0056c1;
}

/** File Login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login__container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.login__container h1 {
  margin-bottom: 20px;
  color: #333333;
}

.login__container h5 {
  text-align: left;
  margin: 10px 0 5px;
  color: #555555;
}

.input-login-username,
.input-login-password {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login__signInButton {
  width: 100%;
  padding: 10px;
  background-color: #307bf4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login__signInButton:hover {
  background-color: #0056c1;
}

.login__registerButton {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login__registerButton:hover {
  color: #0056c1;
}

.gdlr-medium-room-ux {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
